apigpio-mpf==0.0.3
asciimatics==1.12.0
certifi==2021.5.30
chardet==3.0.4
docutils==0.17.1
ffpyplayer==4.3.2
future==0.18.2
grpcio==1.34.0
grpcio-tools==1.34.0
idna==2.8
importlib-metadata==4.7.1
importlib-resources==5.2.2
irc==19.0.1
jaraco.classes==3.2.1
jaraco.collections==3.4.0
jaraco.functools==3.3.0
jaraco.logging==3.1.0
jaraco.stream==3.0.2
jaraco.text==3.5.1
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.glew-dev==0.3.0
kivy-deps.gstreamer==0.3.1
kivy-deps.gstreamer-dev==0.3.1
kivy-deps.sdl2==0.3.1
kivy-deps.sdl2-dev==0.3.1
Kivy-Garden==0.1.4
more-itertools==8.8.0
mpf==0.55.0
mpf-mc==0.55.0
mpf-monitor==0.55.0
Pillow==8.3.1
prompt-toolkit==3.0.8
protobuf==3.14.0
psutil==5.7.3
pyfiglet==0.8.post1
Pygments==2.6.1
pypiwin32==223
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyserial==3.5
pyserial-asyncio==0.4
python-osc==1.7.4
pytz==2021.1
pyusb==1.1.0
pywin32==301
requests==2.22.0
ruamel.yaml==0.15.100
six==1.16.0
smbus2==0.4.1
smbus2-asyncio==0.0.5
sortedcontainers==2.3.0
tempora==4.1.1
terminaltables==3.1.0
typing-extensions==3.10.0.0
urllib3==1.25.11
wcwidth==0.2.5
zipp==3.5.0
